<div id="message-<%= message.id %>" class="message <%= message.member.user  == current_user ? 'current-user' : 'other-user'%>">
  <small>
    <strong><%= message.member.user.first_name %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
