<h1>Groups#edit</h1>
<p>Find me in app/views/groups/edit.html.erb</p>

<%= simple_form_for @group do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <%= f.submit %>
<% end %>
