<div class="banner-groups">
  <div class="banner-container-groups">
    <h1 class="m-2 text-center">Groups</h1>
  </div>
</div>
<div class="container">
  <div class ="d-flex justify-content-center align-items-center my-4">
    <%= link_to "Create new group", new_group_path, class: "button-create-group my-5"%>
  </div>
  <div class="row">
    <div class="col-4 pe-5">
    <h2 class="text-center text-white border-bottom border-2 pb-3 shadow-title"> <i class="fa-solid fa-crown"></i> My Groups</h2>
      <% @my_groups.each do |group| %>
        <%= link_to group_path(group), class: "card-category card-background text-center my-4" do %>
          <p><%= group.name %></p>
        <% end %>
      <% end %>
    </div>
    <div class="col-8 ps-5">
    <h2 class="text-center text-white border-bottom border-2 pb-3 shadow-title"> <i class="fa-solid fa-users"></i> My Friends Groups</h2>
      <div class="cards-members mt-4">
        <% @group_members.each do |member| %>
          <%= link_to group_path(member.group), class: "card-category card-background text-center" do %>
            <p><%= member.group.name %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
