<h1 class="m-2 text-center">Groups</h1>
 <%# <button><%= link_to "Create Group", new_group_path, class: "btn btn-success" %>


<div class="cards">
  <% @groups.each do |group| %>
    <% if current_user && current_user == group.user %>
      <%= link_to group_path(group), class: "card-category card-background" do %>
        <%= "👑 #{group.name} - #{group.category}" %>
      <% end %>
    <% elsif group.members.map { |member| member.user }.include? current_user %>
      <%= link_to group_path(group), class: "card-category card-background" do %>
        <%= "#{group.name} - #{group.category}" %>
      <% end %>
    <% end %>
  <% end %>
</div>
