<div class="container">
  <h1 class="text-center">Show</h1>


  <h3><%= @group.name %></h3>
  <h3><%= @group.category %></h3>
  <ul class="list-group end text-right">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <%= check_box_tag 'user', user.id %> <%# Alterar para check_box do formulario apos a criação do member  %>
        <%= user.first_name %>
        </li>
      <% end %>
      </ul>
  <div>
    <%= link_to "Edit", edit_group_path(@group), class: "btn btn-success" %>
    <%= link_to "Back", groups_path, class: "btn btn-success" %>
    <%= link_to "Delete", group_path(@group), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </div>
</div>
