
<h1 class="m-2 text-center">What’s nearby</h1>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  <% @activities.each do |activity| %>
    <div class="column">
      <div class="card-activity">
        <%= cl_image_tag activity.photo.key%>
        <div class="card-activity-infos">
        <%= link_to activity_path(activity) do %>
            <i class="fa-solid fa-map-location-dot fs-1" style="color: #000000;"></i>
        <% end %>
          <div>
            <h2><%= activity.title %></h2>
            <p><%= activity.category %></p>
          </div>
        <div>
          <% 5.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
        </div>
          </div>
        </div>
    </div>
  <% end %>
</div>


<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @group.id %>">
  <h1><%=@group.name%></h1>

 <div class="messages" data-chatroom-subscription-target="messages">
  <% @group.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>

<%= simple_form_for [@group, @message],
  html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" },  class: "d-flex"} do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@group.name}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
